div{
    background-color: dark blue;
    text-emphasis-color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.myClass{
    font-family: Impace, Georgia, 'Times New Roman', Times, serif
}